html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    margin-right: 0px;
}
body{
    margin:0px;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    
}
#navbar{
    background-color: black;
    display: grid;
    grid-template-columns:70% 4% 4% 4% 5% 5%;
    font-size: 20px;
    padding-top:15px;
    padding-bottom:15px;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
.logo{
    color: white;
    padding-left: 15px;
    text-decoration: none;
    border: 1px solid #000000;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}
.item{
    color: white;
    text-decoration: none;
    border: 1px solid #000000;
    margin-top: 15px;
}
.log_in{
    color: white;
    text-decoration: none;
    background-color:rgb(110, 199, 221);
    text-align: center;
    padding: 15px 5px;
    border: 1px solid #3d54ff;
    
}
.sign_up{
    color: white;
    text-decoration: none;
    background-color:rgb(0, 0, 0);
    text-align: center;
    padding: 15px 5px;
    border: 1px solid #3d54ff;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    background-image: linear-gradient( 
180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
}
.title{
    font-size:70px;
    margin-bottom: 5px;
    color: white;

}
.text{
    font-size:30px;
    font-weight: bold;
}
h2{
    text-align:center;
    font-size:45px;
    text-decoration-line:underline;

}
#project{
    text-align: center;
    padding: 10rem 2rem;
    background-color: #74EBD5;
    background-image: linear-gradient(
90deg, #74EBD5 0%, #9FACE6 100%);
    padding-top: 40px;
    color: white;
        
}
.project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    align-content: stretch;
}
.project-tile{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    background-color:black;
    border-radius: 15px
}
img{
    width: 100%;
    object-fit: cover;
    display: block;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}
.code{
    color: #fff;
    transition: color 0.3s ease-out;
}
.btn-show-all {
    font-size: 2rem;
    background: gray;
    text-decoration: none;
    color: white;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
.btn-show-all:hover{
    background-color: red;
}
span:hover{
    color: rgb(0, 251, 54);
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    background-color: #FFFFFF;
    background-image: linear-gradient( 
180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
}
.contact-section-header h2 {
    text-decoration: none;
    font-size:60px;
    margin-bottom:0px;
    margin-top: 0px;
}
.contact-details {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
.fa-facebook-square:before {
    content: "\f082";
}
.fa-github:before {
    content: "\f09b";
}
.fa-at:before {
    content: "\f1fa";
}
.fa-mobile-alt:before {
    content: "\f3cd";
}
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #000;
}
footer > p {
    margin: 2rem;
}
.end{
    color: #fff;
    text-decoration: none;
    
}